:root {
  --text: #06090b;
  --background: #f8fafb;
  --primary: #629cc4;
  --secondary: #95bcd8;
  --accent: #6aa7d2;
  --border: #dee1e6;
  --input-bg: #f1f5f9;
  --input-border: #d1d5db;
  --text-muted: #4b5563;
}

[data-theme="dark"] {
  --text: #f5f8fa;
  --background: #1a1a1a;
  --primary: #529fd2;
  --secondary: #274d68;
  --accent: #26506d;
  --border: #374151;
  --input-bg: #272c35;
  --text-muted: #d1d5db;
  --input-border: #4b5563;
}

:root {
   --smile: #f5f8fa;
}

[data-theme="dark"] {
  
  --smile: #06090b;
}
